//GOOGLE FONTS

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Sen:wght@400;700;800&display=swap");

// =================
// VARIABLES
// =================

$title-font: Sen, sans-serif;
$text-font: "Open Sans", sans-serif;

$total-black: #000000;
$off-black: #232323;
$medium-grey: #808080;
$light-grey: #dedede;
$white: #ffffff;
$off-white: #efefef;
$main-red: #b30000;
$light-red: #b35959;

$primary: $light-red;

$sm: 481px;
$lg: 768px;
$xl: 1025px;

// =================
// GLOBAL STYLES
// =================
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	white-space: pre-line;
	font-family: $text-font;
	font-weight: 400;
	font-size: 0.8rem;
}

a,
a:active,
a:hover,
a:visited {
	color: inherit;
	text-decoration: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	text-decoration: none;
}

//=================
// SECTIONS
//=================

//LAYOUT
//BACKGROUND

.fake-background {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	//theme
	background-color: $total-black;
}

//NAVIGATION

.nav {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: $title-font;
	font-weight: 400;
	font-size: 1rem;
	//theme
	background-color: $off-black;
	color: $off-white;
}

.nav__logo-box {
	margin: 5px 5px 5px 15px;
	display: flex;
	align-items: center;
}

.nav__logo {
	height: 50px;
}

.nav__burger-box {
	margin: 5px 15px 5px 5px;
	display: flex;
	align-items: center;
}

.nav__burger {
	height: 40px;
}

.nav__link-box {
	display: none;
	align-items: center;
}

.nav__item {
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

.nav__link {
	cursor: pointer;
	text-transform: uppercase;
	color: inherit;
}

.nav__link:hover,
.nav__link:active {
	color: $primary;
}

.nav__link--disabled,
.nav__link--disabled:hover,
.nav__link--disabled:active {
	color: $medium-grey;
	cursor: default;
}

.nav__sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translateX(-100%);
	height: 100%;
	width: 100%;
	transition: all 1s ease-out;
	display: none;
	background-color: $off-black;
	font-family: $title-font;
	font-weight: 400;
	font-size: 1rem;
	//theme
	color: $off-white;
}
.nav__sidebar--show {
	display: block;
	transform: translateX(0);
}

.nav__sidebar__link-box {
	display: flex;
	flex-direction: column;
}

.nav__sidebar__close-button {
	margin: 10px 10px 10px auto;
	font-weight: 700;
	width: 1.5em;
}

@media (min-width: $lg) {
	.nav__link-box {
		display: flex;
	}

	.nav__burger-box {
		display: none;
	}
}

.content {
	margin-top: 100px;
}

//PAGES - INDEX
//INTRO

.intro {
	width: 100%;

	font-family: $text-font;
	font-weight: 200;
	font-size: 0.8rem;
}
.intro__hero {
	display: grid;

	grid-template-areas:
		"javi javi ."
		"de text text"
		"salas salas .";
}
.intro__hero__item {
	height: 30vw;
	//theme
	fill: $off-white;
}

.intro__hero__item--javi {
	grid-area: javi;
}
.intro__hero__item--de {
	grid-area: de;
}
.intro__hero__item--salas {
	grid-area: salas;
}
.intro__hero__text {
	grid-area: text;
	align-self: end;
	font-family: $title-font;
	font-weight: 400;
	font-size: 0.8rem;
	padding-bottom: 3vw;
	//theme
	color: $off-white;
}

.intro__description__text {
	padding: 8px;
	margin: 5px;

	//theme
	background-color: $off-black;
	color: $off-white;
	font-weight: 400;
}
.intro_description__background {
	display: none;
}

@media (min-width: $lg) {
	.intro {
		margin: 10vh 0;
	}
	.intro__hero {
		grid-template-columns: auto auto minmax(100px, max-content) auto auto;
		grid-template-areas:
			". javi de salas ."
			". . text text text";
		margin-top: 12vw;
	}
	.intro__hero__item {
		height: 14vw;
		max-height: 170px;
	}
	.intro__hero__item--javi {
		justify-self: end;
	}
	.intro__hero__item--de {
		margin: 0 4vw;
		justify-self: center;
		max-width: 170px;
	}
	.intro__hero__item--salas {
		justify-self: start;
	}
	.intro__hero__text {
		width: 100%;
		padding: 5px 0 5px 10px;
		font-size: 1rem;
		//theme
		background-color: $medium-grey;
		color: $off-white;
	}
	.intro__description {
		margin-top: 7vh;
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1fr;
	}
	.intro__description__text {
		grid-column-start: 2;
		grid-row-start: 1;
		z-index: 5;
		margin: 0px;
		border: solid 1px;
	}
	.intro__description__background {
		display: block;
		grid-column-start: 1;
		grid-column-end: span 2;
		grid-row-start: 1;
		width: 100%;
		height: 100%;
		background: url(../pattern-white.svg) repeat;
		background-color: $medium-grey;
		background-size: 30px;
		z-index: 3;
		transform: translateX(-10px) translateY(10px);
	}
}

// EXPERIENCE

.experience {
	width: 100%;
	font-family: $text-font;
	font-weight: 200;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience__title {
	font-family: $title-font;
	text-transform: uppercase;
	color: white;
	background-color: $medium-grey;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.experience__header {
	display: flex;
	width: 100%;
	justify-content: center;
}

.experience__header__item {
	cursor: pointer;
	font-family: $title-font;
	text-transform: uppercase;
	margin: 5px 10px 5px 0px;
	//theme
	color: $off-white;
}
.experience__header__item:hover,
.experience__header__item:active {
	color: $primary;
}

.experience__header__item::before {
	content: "> ";
}

.experience__header__item--active::before {
	content: "> ";
	color: $primary;
}

.experience__viewer {
	overflow: hidden;
	width: 90vw;
	//theme
    color: $off-white;
    background-color: $off-black;
}

.experience__viewer__container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	transition: all 1s ease-out;
	
	
}

.experience__viewer__container__item {
	width: 90vw;
	margin-right: 10vw;
	padding: 0 0 1rem 1rem;
}

@media (min-width: $lg) {
	.experience {
		margin: 10vh 0;
	}
	.experience__title {
		width: 80vw;
		margin-left: 20vw;
		padding-left: 15px;
		text-align: start;
	}

	.experience__lg-container {
		display: grid;
		margin: 0 0vw 0 20vw;
		grid-template-columns: 15vw 65vw;
		grid-template-areas: " header viewer";
	}

	.experience__header {
		display: block;
	}

	.experience__viewer {
		width: 100%;
		border-bottom: $medium-grey 5px solid;
	}

	.experience__viewer__container {
		transition-duration: 0.1s;
		transition-delay: 2s;
	}
	.experience__viewer[courtain="1"] {
		animation: courtain 4s;
	}

	.experience__viewer__container__item {
		width: 55vw;
		margin-right: 45vw;
		overflow: hidden;
	}

	@keyframes courtain {
		0% {
			height: 100%;
		}
		40% {
			height: 0%;
		}
		60% {
			height: 0%;
		}
		100% {
			height: 100%;
		}
	}
}

//PROJECTS

.projects {
	width: 100%;
	font-family: $text-font;
	font-weight: 200;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects__title {
	font-family: $title-font;
	text-transform: uppercase;
	color: white;
	background-color: $medium-grey;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.project {
	margin: 5vw;
	padding: 10px;
}

.project__pic {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.project__text__title {
	font-family: $title-font;
}

.project__text__stack {
	padding-left: 5px;
	font-size: 1rem;

	font-weight: 600;
	background-color: $light-grey;
	text-transform: uppercase;
}

.project__text__stack__item::after {
	content: " > ";
	color: white;
	height: 100%;
}

.project__text__stack__item:last-child::after {
	content: "";
	color: white;
	height: 100%;
}

@media (min-width: $lg) {
	.projects {
		margin: 10vh 0;
	}

	.projects__title {
		width: 80vw;
		margin-right: 20vw;
		padding-right: 15px;
		text-align: end;
	}

	.project {
		margin: 10vh 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
	}

	.project__pic {
		grid-column: 1 / span 7;
		grid-row: 1/1;
		height: 500px;
	}

	.project__text {
		grid-column: 5 / span 5;
		grid-row: 1/1;
		margin: 75px 0;
		z-index: 1;
		background-color: white;
	}

	.project:nth-of-type(even) .project__pic {
		grid-column: 6 / span 7;
	}

	.project:nth-of-type(even) .project__text {
		grid-column: 3 / span 5;
	}
}

// .project__description

// .project__link
